 h1{
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 400;
        }

        h2{
            font-size: 32px;
        }
        
        body{
            background-color: rgb(184, 199, 194);
        }

        #Titulo{
            text-align: center;
            background-color: rgb(103, 99, 139);
        }
        
        #placar{
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
        #jogador, #computador{
            position: relative;
            flex-grow: 1;
            border-radius: 5px;
            padding: 20px;
            color:rgb(31, 5, 5);            
        }

        #jogador{
            background-color: #ff7675;
        }
        #computador{
            background-color: #59478a;
        }

        #versus{
            font-size: 40px;
            text-align: center;
            width: 70px;
            margin-top: 20px;
            margin-bottom: 20px;
        }

        #jogador-nome, #computador-nome{
            margin: 0;
            padding: 0;
        }

        #jogador-nome {
            text-align: left;
        }

        #computador-nome{
            text-align: left;
        }

        #jogador-pontos, #computador-pontos{
            position: absolute;
            top: 8px;
            font-size: 52px;
            right: 20px;
        }

        #jogador-pontos{
            right: 20px;
            }

        ul#jogador-escolha, ul#computador-escolha{
             list-style: none;
             margin: 0;
             padding: 0;
             text-align: center;
         } 

         ul#computador-escolha li, ul#jogador-escolha li{
             display: inline;
         }   

         ul#computador-escolha li a, ul#jogador-escolha li a{
             opacity: 0.4;
             
         } 

         ul#jogador-escolha li a:hover,  ul#jogador-escolha li a.selecionado, ul#computador-escolha li a.selecionado{
             opacity: 2;
             
         }

                   
         ul#computador-escolha li a img, ul#jogador-escolha li a img{
             width: 80px;
             height: 80px;
             border-radius: 15px           
         } 
         
         
         #mensagem{
             background-color: aquamarine;
             font-size: 36px;
             border-radius: 5px;
             margin: 45px 0;
             padding: 20px;
             text-align: center;
         }     
    
